
<style>
    .table-c table{border-right:1px solid #000;border-bottom:1px solid #000;
        height: 600px;}
    .table-c table td{border-left:1px solid #000;border-top:1px solid #000}
    .table-c table th{border-left:1px solid #000;border-top:1px solid #000}
    /*
    css 注释：
    只对table td设置左与上边框；
    对table设置右与下边框；
    为了便于截图，我们将css 注释说明换行排版
    */
</style>
<div id="content-header">
    <div id="breadcrumb"></div>
    <h1>填写表格</h1>
</div>
<div class="container-fluid">
    <hr/>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                    <h5>填写表格</h5>
                </div>
                <div class="widget-content nopadding">
                    <div class="table-c" style="text-align:center;font-size:16px">

                        <h1>招考网信息系统安全检查日志</h1>
                        <table style="margin:0 auto">
                            <tr>
                                <th>日期</th>
                                <th><input type="text" id="date2"   data-date-format="yyyy-mm-dd"
                                           class="datepicker01 span11" /></th>
                                <th colspan="12">各地市检查情况（正常打“√”，异常打“╳”，并给予简要说明）</th>
                                <th>检查人</th>
                                <th>备注</th>
                            </tr>
                            <tr>
                                <th>名字</th>
                                <th>检查项目</th>
                                <th>1.内江</th>
                                <th>2.自贡</th>
                                <th>3.宜宾</th>
                                <th>4.泸州</th>
                                <th>5.资阳</th>
                                <th>6.德阳</th>
                                <th>7.绵阳</th>
                                <th>8.广元</th>
                                <th>9.南充</th>
                                <th>10.雅安</th>
                                <th>11.攀枝花</th>
                                <th>12.四川招考网</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td rowspan="5">网页及内容安全检查</td>
                                <td>网页访问是否正常</td>
                                <td>
                                    <select style="width:80px">
                                        <option selected="selected">√</option>
                                        <option>×</option>
                                        <option>无权限</option>
                                    </select>
                                </td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>

                                <td>网站链接是否正常</td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>

                                <td>安全漏洞检查</td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>

                                <td>内容信息检查(抽样)</td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px">
                                    <option selected="selected">√</option>
                                    <option>×</option>
                                    <option>无权限</option>
                                </select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>

                                <td>网页篡改、植入恶意代码检查(抽样)</td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td rowspan="3">运行安全</td>
                                <td>相关网络设备的运行检查</td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>

                                <td>病毒检查</td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>

                                <td>是否定时巡查</td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td rowspan="2">数据库安全</td>
                                <td>数据库检查（被攻击、盗取、泄露）</td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>备份与恢复机制检查</td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>信息安全</td>
                                <td>后台账户和口令检查</td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option>√</option><option>×</option><option selected="selected">无权限</option></select></td>
                                <td><select style="width:80px"><option selected="selected">√</option><option>×</option><option>无权限</option></select></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>

                    </div>


                </div>

            </div>

        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var msg = [[${msg}]];
    if(msg!=null){
        alert(msg);
    }
    $('.datepicker01').datepicker();
    $("#date2").val(new Date().Format("yyyy-MM-dd"));
    function save(){
        var file = $("input[name=file]").val()
        if(file.length == 0){
            alert("请先选择文件");
            return;
        }
        $.ajaxFileUpload
        (
                {
                    url: 'daily/daily_save', //用于文件上传的服务器端请求地址

                    fileElementId: 'file', //文件上传域的ID
                    dataType: 'text', //返回值类型 一般设置为json
                    success: function (data, status)  //服务器成功响应处理函数
                    {
                        $("input[name=file]").val('')
                        alert("保存成功!")

                    },
                    error: function (data, status, e)//服务器响应失败处理函数
                    {

                        alert(e);
                    }
                }
        )
    }

    function saveB(){
        loadPage([[@{daily/daily_add_biaoge}]]);
    }


    /*]]>*/
</script>

